
*{ margin: 0; padding: 0;
    font-family: Josefin Sans;box-sizing: border-box;}

    .navbar{
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

.navbar-links ul{
 margin: 0;padding: 0; display: flex;
}

.navbar-links li{
list-style: none;}

.navbar-links li a{
text-decoration: none;
color: var(--secondary-color);display: block;
margin: 10px 20px;
}

.navbar-links li :hover{
background-color: gainsboro;}

.vec{
    margin-left: 100px;
    width: 40px; height: 40px;}

:root{
    --primary-color:white;
    --secondary-color:black;}
    
    .dark-theme{
        --primary-color:black;
        --secondary-color:white;}
        
/* <----hero section----> */
.hero{
    background-color: var(--primary-color);
    background-position: center;background-size: cover;width: 100%;}

.hero p{font-size: 23px;
color: var(--secondary-color); }

.discover{
    background-color: rgb(127, 0, 156);width: 32%; height:8% ;
    border-radius: 1px; color: white;border:1px solid  purple;
    margin-top: 30px;}

.book{
    background-color:white; border-radius: 1px; color: black;border:5px solid  purple; position: relative;
    width: 32%; height:8% ; margin-top: 30px;  left: 25px;         }
   
 .first{
    display: flex;padding: 40px 0px 20px 0px;}
    
 .second{ display: flex;}
   
.watch{color: purple;}

.play{
    width: 38px;  height: 40px;}
  
.tick{
    width: 28px; height: 30px;}

    .loom{
        gap: 10px;  display: flex;}

.down{
padding-top: 70px;}

.start{
    font-size: 38px;
    color: var(--secondary-color);}

/* <----about section----> */ 
.about{
    background-color: var(--primary-color);
    width: 100%;}

.about .container{
 padding: 30px 120px 0px 120px; }

.paragraphy1{
    color: var(--secondary-color);
 padding: 0px 0px 20px 0px; 
font-size: 19px;}

.paragraphy2{
    color: var(--secondary-color);
   font-size: 19px;}
   
.about p{
    color: var(--secondary-color);
    font-size: 17px;}

.about h3{
 padding: 90px 0px 0px 50px;  
color: var(--secondary-color)}

.rec10{
    width: 260px; height: 430px;   top: 90px;    position: relative;}
   
.rec9{
 width: 260px;height: 430px;}

.rec{
    display: flex;gap: none;}
    
.rec1{
position: absolute;width: 520px;height: 500px;
background-color: rgba(0, 0, 0, 0.525);}

.man{
background-image: url(../img/dances.jpg);
width: 520px;height: 500px;background-size: cover;background-position: center;}

.butt3{
    background-color: purple;width: 120px; height:45px ;
    border-radius: 1px; color: white;border:1px solid  purple;
    margin-top: 30px;}

.youtube{
width: 60px;height: 60px;
position: relative;bottom: 280px; left: 234px; } 

/* <----service section----> */
.service{
background-color: var(--primary-color);
 width: 100%;}

 .service .container{
padding:60px 90px 0px 70px ;}

.pic5{
width: 380px;height: 550px;
background-size: cover;background-position: center;
background-image: url(../img/About1.png);}

.pic6{
   width: 380px;   height: 550px;
   background-color: purple;background-position: center; background-size: cover;}  

.pic7{
   width: 380px;height: 550px;  background-size: cover;
   background-position: center; background-image: url(../img/About3.png);}
  
.rec2{
   position: absolute;width: 380px;height: 550px;
   background-color: rgba(0, 0, 0, 0.213);}   
    
 .rec3{
   position: absolute;width: 380px;height: 550px;
   background-color: rgba(0, 0, 0, 0.274)}   
            
 .pic6 p{
    font-size: 18px; padding-left: 40px;  color:white;}
    
.pic6 h5{
    font-size: 22px;  padding-left: 20px; padding-top: 40px; color: var(--primary-color);}
   
 .rec3{
width: 76px;height: 2px;border-radius: 10px;
background-color: white;position: relative;bottom: 17px; left: 38px; } 

.offer1{ 
    color: var(--secondary-color);
    font-size: 27px;
    padding: 120px 0px 0px 50px;}

.offer2{ color: var(--primary-color); padding: 490px 0px 0px 140px ;}

.next{
    position: relative;  left: 330px; 
    bottom: 33px;    width: 50px; height: 50px;}

.next1{
    position: relative;  left: 330px; 
    bottom: 32px; width: 50px; height: 50px;}
   
.next2{
position: relative; left: 340px; 
bottom: -4px;
width: 40px;height: 40px;background-color: white;} 

/* <----client section----> */
.client{ 
    background-color: var(--primary-color);
    width: 100%;
    }
    
    .client .container{ padding: 80px 100px 0px 140px; }
    
    .pic8{
        width: 500px;height: 470px;  background-size: cover;
        background-position: center; background-image: url(../img/Happy1.jpg);}
    
    .pic9{
        bottom: 90px;  position: relative;
        width: 500px;height: 470px;  background-size: cover;
        background-position: center; background-image: url(../img/Happy2.jpg);}
        
    .offer3{
        color: var(--secondary-color);
        padding: 30px 0px 20px 0px;  }
       
    .offer20{
    color: var(--secondary-color);}
    
    .offer30{
     padding: 100px 0px 0px 50px; 
    color:var(--secondary-color);}
    
    .offer4{  
        color: var(--secondary-color);    padding: 0px 0px 6px 0px; }
     
    .offer5{
        color: var(--secondary-color); position: relative; bottom: 60px;}
       
    .offer6{
        color: var(--secondary-color); position: relative;bottom: 35px;}
       
    .offer7{
        color: var(--secondary-color); position: relative; bottom: 25px;}  


/* <----seen section----> */
 .seen{
   
    padding-bottom: 200px;
    background-color: var(--primary-color); 
    width: 100%;}

.seen .container{
padding:  70px 210px 0px 190px; }

.seen h3{
    font-size: 28px;
    color: var(--secondary-color);    padding: 50px 0px 0px 570px;  }
 
.insta{
font-family: Great vibes;}

.pic10{
   width: 140px;height: 400px;
   background-position: center;background-size: cover;
   background-image: url(../img/1.png);}
        
.pic11{
   width: 140px; height: 400px;
   background-position: center; background-size: cover;position: relative;top: 70px;
   background-image: url(../img/2.png);}
          
.pic12{
    width: 140px; height: 400px;
    background-position: center; background-size: cover;  
    background-image: url(../img/3.png);}
               
.pic13{
    width: 140px; height: 400px; position: relative;top: 70px; 
    background-position: center; background-size: cover;
    background-image: url(../img/3.png);}

.pic14{
    width: 140px; height: 400px; 
    background-position: center; background-size: cover;  
    background-image: url(../img/4.png);}
                   
.pic15{
    width: 140px; height: 400px;position: relative;top: 70px; 
    background-position: center; background-size: cover;
    background-image: url(../img/5.png);} 
    
.tig{
    color: var(--secondary-color);
    position: relative; margin-left: 670px;  top: 100px;}

.us{
    position: relative;   margin-left: 655px;    top: 100px;
    background-color: rgb(127, 0, 156);width: 100px; height:40px;
    border-radius: 1px; color: white;border:1px solid  purple;}    

/* <----footer section----> */
.footer{
    background-color: rgb(127, 0, 156);
    width: 100%;}
    
    .foot{
    background-color: white;
    width: 150px;height: 60px;}
    
    .footer p{
        color: white; font-size: 17px;}
    
      .footer h3{
        font-size: 24px; color: white; }
       
      .footer .inner{
        padding: 40px 0px 0px 0px;}
      
    .footer .text{
       padding: 10px; border: 1px solid white;}
     
    .rec4{
        width: 94px;height: 2px;border-radius: 10px;
        background-color: white;position: relative;bottom: 7px; left:-5px; }
    
    .rec5{
        width: 125px;height: 2px;border-radius: 10px;
        background-color: white;position: relative;bottom: 7px; left: -4px; }
    
    .rec6{
        width: 126px;height: 2px;border-radius: 10px;
        background-color:white;position: relative;bottom: 7px; left: -4px; }
    
    .rec7{
        display: flex; gap:15px;   }
    
    .call{
        width: 20px;height: 25px;}
    
    .emaill{
        width: 25px;height: 20px;}
    
    .rec21{
        gap: 15px; display: flex;  } 
         
        .rec20{
            padding-top: 13px;
            gap: 15px; display: flex;}  
            
    .location{
    width: 20px;height: 30px;}
    
    .rec8 p{
        color: white;  display: flex;flex-direction: column;
       padding-left: 30px;}
       
    .foot2{
    width: 30px;height: 40px;}
    
    .foot3{
        width: 40px; margin-left: 20px;   height: 40px;} 


 @media  (max-width:576px)      { 

*{
    overflow-x: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
    left: 30px;
  }

.navbar-links li a{
    color: var(--secondary-color);display: block;
    }


.logo{
    width: 90px;
    height: 40px;
}

.youtube{
    width: 60px;height: 60px;
    position: relative;bottom: 220px; left: 120px; } 

.vec{
    margin-left: -1px;
    width: 40px; height: 40px;}


.toggle-button{
    position: relative;
    top: .35rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 27px;
    }
        
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    } 

.toggle-button{
    display: flex;
    } 
        
.navbar-links{
    display: none;
    }
        

.navbar-links ul{
    width: 100%;
    flex-direction: column;
    }  
        
.navbar-links li{
 
    text-align: center;
    }
        
.navbar-links li a{
    padding: .5rem 1rem;
    }
              
.navbar-links.active{
    display: flex;
    }


.about .container{
    padding: 0px 0px 0px 0px;}

.forth{
    margin-left: 5px; 
    padding-top: 140px;}

.rec9{
    height: 200px;
    width: 170px;
}

.rec10{
    height:200px;
    width: 170px;
    }

.man{
    width: 370px;
    height: 400px;
    }

.rec{
    margin-left: 35px;
    }

.about h3{
    margin-bottom: 30px;
    padding: 60px 0px 0px 30px; }
    
.offer2{ 
    padding: 350px 0px 0px 50px ;
    }

.service img{
    width: 20px;height: 23px;
    }

.next1{
    position: relative;
    top: -12px;
}
 
.next2{
    position: relative;
    margin-top: 800px;
    top: 2px; 
    }
        
.next{
  position: relative;  
  top: -12px;
}

.offer1{ 
    width: max-content;
    font-size: 23px;
    padding: 90px 0px 0px 5px;}

.client .container{ padding: 70px 0px 0px 0px;}

.offer30{ 
    font-size: 23px;
    padding: 80px 0px 0px 10px;}

.sixth{
    margin-left: 8px;
    padding-top: 120px ;
    }

.sith{
    margin-left: 8px;
    }

.rec1{
    width: 370px;
    height: 400px;
    }

 .seen h3{
    position: relative;
    right: 200px;
    width: max-content;
    color: black;} 

     .seventh{
        position: relative;
        padding-left: 150px;
        } 

        .tig{
            position: relative;
            right: 180px;
            color: var(--secondary-color);
            position: relative;}
        
        .us{
            position: relative; right: 205px;
            width: 140px; height:50px;
           }    

.pic9{
width: 350px;
height: 300px;
}

.pic8{
    width: 350px;
    height: 300px;
    }

.pic6{
    margin: 10px ; 
    position: relative;
    right: 10px;
    }

    .footer{
        background-color: rgb(127, 0, 156);
        width: 100%;}

.pic5{
    width: 300px;
    height: 400px;
}

.rec2{
    width: 300px;
    height: 400px;
}
         
.pic6 p{
    font-size: 14px;padding-left: 40px; color: white;}
    
.pic6 h5{
    font-size: 20px; padding-left: 20px; padding-top: 5px; color: white;}
   
.rec3{
width: 60px;
}

.pic6{
    width: 300px;
    height: 400px;
}

.pic7{
    width: 300px;
    height: 400px;
}
.rec19{
    width: 300px;
    height: 400px;
}

.pic11 {
    width: 180px;
}

.footer{
    width: 200%;
}

.dd{
    position: relative;
    right: 12px;
}

.clien{
    position: relative;
    right: 12px;
}

}

 @media  (max-width:768px)      { 

 .start{
font-size: 23px;}
     
.hero p{
font-size: 16px;}

.discover{
    width: 90px; height:50px;
    border-radius: 1px; color: white;border:1px solid  purple; margin-top: 30px;}
   
.book{
   border-radius: 1px; color: black;border:3px solid  purple; position: relative;
    width: 90px; height:50px ; margin-top: 30px;  left: 25px;         }

    .play{
        width: 25px;  height: 25px;}
      
    .tick{
    width: 20px; height: 23px;}

.second{
position: relative;bottom: 20px;}

.about p{
font-size: 10px;}

.man{
    width: 300px;   height: 400px;}
 
.rec1{
 width: 300px;height: 400px;}

.rec10{
 height:200px;width: 130px;}

.rec9{
height: 200px;width: 130px;}
 
 .about .container{
        padding: 30px 0px 0px 30px;}

.pic5{
width: 170px;   height: 400px;}

.pic6{
 width: 170px;height: 400px;}

.pic7{
 width: 170px;height: 400px;}

.pic6 p{
font-size: 12px;padding-left: 25px; color: white;}

.pic6 h5{
font-size: 13px;color: white;}

.rec3{
width: 40px;left: 30px;position: relative;}

.rec2{
    width: 170px;  height: 400px;}
  
.rec19{
    width: 170px; height: 400px;}
   
.service img{
width: 30px;height: 25px;
left: 141px;bottom: 155px;position: relative;}

.next2{
position: relative;   margin-top: 125px;}
 
.pic9{
 width: 300px;height: 300px;}

.pic8{
 width: 300px; height: 300px;}

.client .container{ padding: 80px 0px 0px 30px;}

.seen .container{
padding: 50px 10px 0px 0px;}
                
.seen h3{ font-size: 28px;
    color: var(--secondary-color);   padding: 50px 0px 0px 270px;}

.pic10{
 width: 110px;  height: 400px;}
      
.pic11 {
width: 110px;    height: 400px;}
    
.pic12{
width:110px ;height:400px ;}

.pic13{
width: 110px;height: 400px;}

.pic14{
width: 110px;height: 400px;}

.pic15{
width: 110px;height: 400px;}

.tig{
    color: var(--secondary-color);
    position: relative;margin-left: 343px;top: 100px;}

.us{
    position: relative;  margin-left: 330px;  top: 100px;}

.footer{
background-color: rgb(127, 0, 156);width: 100%;}

.dd{
    position: relative;
    right: 12px;
}

.clien{
    position: relative;
    right: 12px;
    }

.youtube{
    width: 60px;height: 60px;
    position: relative;bottom: 220px; left: 120px; } 
}

/* <----dropdown section----> */


.dropbtn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover{
    background-color: gainsboro;
  }

  .dropdown:hover .dropbtn {
    background-color: gray;
  }

  .navbar-links ul li a:hover{
    color: purple;
  }
 


